{% extends 'mainApp/_base.html' %}

{% block body %}
	{% if message %}
    <div id="message">
      <p> <strong> {{ message }} </strong> </p>
    </div>
	{% endif %}

	<div class="loginForm">
		<form action="{% url 'mainApp:userLogin' %}" method="post">
			{% csrf_token %}

      <p>
        <label>Username: </label>
        <input type="text" name="username"> <br>
      </p>
      <p>
        <label>Password: </label> 
        <input type="text" name="password"> <br>
      </p>

      <p>
        <label>  </label> 
        <input type="submit" value="Login" class="btn btn-primary btn-sm"> 
      </p>			

		</form>
	</div>
{% endblock %}